<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/{{ page.lang }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/{{ page.lang }}/about/">
          {% if site.data.i18n['about'][page.lang] %}
            {{ site.data.i18n['about'][page.lang] }}
          {% else %}
            {{ site.data.i18n['about']['default'] }}
          {% endif %}
        </a></li>
        <li class="nav-link"><a href="/{{ page.lang }}/posts/">
          {% if site.data.i18n['posts'][page.lang] %}
            {{ site.data.i18n['posts'][page.lang] }}
          {% else %}
            {{ site.data.i18n['posts']['default'] }}
          {% endif %}
        </a></li>
        <li class="nav-link"><a class="rm-pad-right" href="{{ page.url | replace:'zh','en' }}">En</a>|<a href="{{ page.url | replace:'en','zh' }}">中</a></li>
      </ul>
    </nav>
  </div>
</header>
