---
layout: default
ref: index
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">
        {% if site.data.i18n['title'][page.lang] %}
          {{ site.data.i18n['title'][page.lang] }}
        {% else %}
          {{ site.data.i18n['title']['default'] }}
        {% endif %}
      </h1>
      {% if site.data.i18n['subtitle'] %}
      <p class="subtitle">
        {% if site.data.i18n['subtitle'][page.lang] %}
          {{ site.data.i18n['subtitle'][page.lang] }}
        {% else %}
          {{ site.data.i18n['subtitle']['default'] }}
        {% endif %}
      </p>
      {% endif %}
    </header>
  </div>
</div>

<div class="wrapper" id="index-flow">
  <div class="post-flow">
    <ul class="post-list">
      {% assign posts = site.posts | where:"lang", page.lang %}
      {% for post in posts %}
      <li>
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{% if post.html_title %}{{ post.html_title }}{% else %}{{ post.title }}{% endif %}">
            {{ post.title }}
          </a>
        </h2>
        <section class="post-excerpt" itemprop="description">
          <p>
          <p>
             {% if post.custom_excerpt %}
               {{ post.custom_excerpt | strip_html }}
             {% else %}
               {{ post.content | strip_html | truncate: 120 }}
             {% endif %}
           </p>
          <p>
        </section>
        <section class="post-meta">
          <div class="post-date">
            {% if page.lang == 'zh' %}
              {{ post.date | date: "%Y年%-m月%-d日" }}
            {% else %}
              {{ post.date | date: "%B %-d, %Y" }}
            {% endif %}
          </div>
          <div class="post-categories">
            {% if post.categories.size > 1 %}
            {% if site.data.i18n['in'][page.lang] %}
            {{ site.data.i18n['in'][page.lang] }}&nbsp;
            {% else %}
            {{ site.data.i18n['in']['default'] }}&nbsp;
            {% endif %}
            {% assign categories = site.data.categories | where_exp:"cat", "post.categories contains cat.ref" %}
            {% for cat in categories %}
            {% if cat.name[page.lang] %}
              {% assign cat_name = cat.name[page.lang] | capitalize %}
            {% else %}
              {% assign cat_name = cat.name['default'] | capitalize %}
            {% endif %}
            <a href="{{ site.baseurl }}/{{ page.lang }}/posts/#{{ cat.ref }}" title="{{ cat_name }}">
              {{ cat_name }}
            </a>{% if forloop.last == false %}, {% endif %}
            {% endfor %}{% endif %}
          </div>
        </section>
      </li>
      {% if forloop.last == false %}
      <hr>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% include sidebar.html %}
</div>
</div>
